<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>GRAC</h1>
{% csrf_token %}

<fieldset>
    <form action="{% url 'index' %}" method="post">
        {% csrf_token %}

        <p>Оберіть розмір</p>
        {% for size in sizes %}
            <input id="{{ size }}" value="{{ size.id }}"  type="radio" name="size">
            <label for="{{ size }}">{{ size }}</label>
        {% endfor %}

        <p>Оберіть начінку</p>
        {% for category in categories %}
            <p>{{ category }}</p>
            {% for topping in toppings %}
                {% if topping.category == category %}
                <p><input id="{{ topping }}" value="{{ topping.id }}" name="{{topping.name}}"
                          type="checkbox"><label for="{{ topping }}">{{topping}} - {{ topping.price }}</label></p>
                <p><input name="{{topping}}_quantity" type="number"></p>
                {% endif %}
            {% endfor %}
        {% endfor %}
        <button type="submit" formmethod="post">Замовити піццу</button>
    </form>
</fieldset>

</body>
</html>